<nav class="loginNav">
  <img class="logo"src="../images/logo.png" alt="" />
  <!-- <div>In-sight Reviews</div> -->
  <ul>

    <li ui-sref="welcome">About</li>
    <li ui-sref="contactUs">Contact Us</li>
    <li ui-sref="signup">Sign Up</li>
    <li ui-sref="login">Login</li>

  </ul>
  <div ng-click="hamClick()"class="ham icon-bars"></div>

</nav>

<section class="signupSection">
<h1 class="dashTitle">Contact Us</h1>
  <p style="color: white; font-size: 2vw;">Call us at (801) 529-3511</p> <br>
  <p style="color: white; font-size: 2vw;">Email us at support@in-sightreviews.com</p>
  <button type="button" name="button" ui-sref="welcome">Back</button>

</section>
