<h1 style="display: flex;">Add Customer &nbsp;<div class="icon-plus-circle" ng-click='showAddSection()'></div></h1>
<div ng-if="addCustomerSection">
  <input type="text" name="name" ng-model="user.first"placeholder="First Name">
  <input type="text" name="name" ng-model="user.last"placeholder="Last Name">
  <input type="text" name="name" ng-model="user.phone"placeholder="Phone Number">
  <input type="text" name="name" ng-model="user.email"placeholder="Email">
  <button type="button" name="button" ng-click="submit(user)">Submit</button>
  <button type="button" name="button" ng-click="hideAddSection()">Cancel</button>

</div>


<ul class="customerList" ng-repeat="customer in customers track by $index">
  <li ng-click="showUpdate(customer, $index)">{{customer}}</li>
  <div ng-if="$index === selected">
    <input type="text" name="name" ng-model="first">
    <input type="text" name="name" ng-model="last">
    <input type="text" name="name" ng-model="phone">
    <input type="text" name="name" ng-model="email">
    <button type="button" name="button" ng-click="deleteCustomer(customer)">Delete</button>
    <button type="button" name="button" ng-click="updateCustomer({id: customer.id, first: first, last: last, phone: phone, email: email})">Update</button>
    <button type="button" name="button" ng-click="sendLink({first: first, last: last, phone: phone, email: email})">Send Link</button>
  </div>

</ul>
