<div class="dashboardTitle">Right Review for {{test.firstname}}</div>
<section class="mainSection">
  <ul class="dashboardMenu">
    <li ui-sref="dashboard.theDashboard"><div class="icon-tachometer"></div>Dashboard</li>
    <li ui-sref="dashboard.userInfo"><div class="icon-user-outline"></div>User Info</li>
    <li ui-sref="dashboard.campaigns"><div class="icon-line-chart"></div>Campaigns</li>
    <li ui-sref="dashboard.locations"><div class="icon-map-marker"></div>Locations</li>
    <li ui-sref="dashboard.customers"><div class="icon-users"></div>Customers</li>
    <li ui-sref="dashboard.reviews"><div class="icon-star-o"></div>Reviews</li>
    <li ui-sref="dashboard.settings"><div class="icon-tools"></div>Settings</li>
    <li ng-click='logout()'><div class="icon-logout"></div>Logout</li>
  </ul>
  <ui-view></ui-view>
</section>

<!-- Welcome to dashboard
<input type="text" ng-model="send.to"name="name" placeholder="Phone Number...">
<select ng-model="send.message">
  <option value="http://159.203.246.179/#/yesOrNo">Link</option> -->
  <!-- <option value="https://www.google.com/search?q=spencer+sprinklers&rlz=1C5CHFA_enUS691US691&oq=spencer+sprinklers&aqs=chrome..69i57.4617j0j1&sourceid=chrome&ie=UTF-8#lrd=0x8752f70050b56229:0x951b6313f154c0bd,3">Google Review</option>
  <option value="http://local.ksl.com/sprinkler-install-repair/spencer-s-sprinkler-repair-and-installation/125125">KSL Review</option> -->
<!-- </select>
<button type="button" name="button" ng-click="sendMessage(send)">Send Review Link</button> -->
