<div class="dashboardTitle"><img class="logo"src="../images/logo.png" alt="" /><h1>{{currentUser.firstname}} {{currentUser.lastname}}</h1></div>
<div style="margin-left: 80vw; margin-top: 1.5vw"class="ham icon-bars" ng-click="hamClick()">

</div>
<section class="mainSection">
  <ul ng-hide="menuHidden"class="dashboardMenu" ng-class="dashMenu">
    <li ng-click="hamClick()"class=""ui-sref="dashboard.theDashboard"><div class="icon-tachometer"></div>Dashboard</li>
    <li ng-click="hamClick()"class=""ui-sref="dashboard.campaigns"><div class="icon-line-chart"></div>Campaigns</li>
    <li ng-click="hamClick()"class=""ui-sref="dashboard.locations"><div class="icon-map-marker"></div>Locations</li>
    <li ng-click="hamClick()"class=""ui-sref="dashboard.customers"><div class="icon-users"></div>Customers</li>
    <li ng-click="hamClick()"class=""ui-sref="dashboard.sendLink"><div class="icon-paper-plane-o"></div>Send Link</li>
    <!-- <li ng-click="hamClick()"class="hvr-underline-from-center "ui-sref="dashboard.reviews"><div class="icon-star-o"></div>Reviews</li> -->
    <li ng-click="hamClick()"class=""ui-sref="dashboard.userInfo"><div class="icon-user-outline"></div>User Info</li>
    <li ng-click="hamClick()"class=""ui-sref="dashboard.settings"><div class="icon-tools"></div>Settings</li>
    <li class="hvr-underline-from-center "ng-click='logout(); hamClick()'><div class="icon-logout"></div>Logout</li>
  </ul>
  <ul class="dashboardMenu secondDashMenu" ng-class="dashMenu">
    <li class="hvr-underline-from-center "ui-sref="dashboard.theDashboard"><div class="icon-tachometer"></div>Dashboard</li>
    <li class="hvr-underline-from-center "ui-sref="dashboard.campaigns"><div class="icon-line-chart"></div>Campaigns</li>
    <li class="hvr-underline-from-center "ui-sref="dashboard.locations"><div class="icon-map-marker"></div>Locations</li>
    <li class="hvr-underline-from-center "ui-sref="dashboard.customers"><div class="icon-users"></div>Customers</li>
    <li class="hvr-underline-from-center "ui-sref="dashboard.sendLink"><div class="icon-paper-plane-o"></div>Send Link</li>
    <!-- <li class="hvr-underline-from-center "ui-sref="dashboard.reviews"><div class="icon-star-o"></div>Reviews</li> -->
    <li class="hvr-underline-from-center "ui-sref="dashboard.userInfo"><div class="icon-user-outline"></div>User Info</li>
    <li class="hvr-underline-from-center "ui-sref="dashboard.settings"><div class="icon-tools"></div>Settings</li>
    <li class="hvr-underline-from-center "ng-click='logout(); hamClick()'><div class="icon-logout"></div>Logout</li>
  </ul>
  <ui-view class="subSection " style="padding: 1vw 1vw 1vw 1vw;"></ui-view>
</section>

<!-- Welcome to dashboard
