Welcome to dashboard
Send review link to:
<input type="text" ng-model="send.to"name="name" placeholder="Phone Number...">
<select ng-model="send.message">
  <option value="http://159.203.246.179/#/yesOrNo">Link</option>
  <!-- <option value="https://www.google.com/search?q=spencer+sprinklers&rlz=1C5CHFA_enUS691US691&oq=spencer+sprinklers&aqs=chrome..69i57.4617j0j1&sourceid=chrome&ie=UTF-8#lrd=0x8752f70050b56229:0x951b6313f154c0bd,3">Google Review</option>
  <option value="http://local.ksl.com/sprinkler-install-repair/spencer-s-sprinkler-repair-and-installation/125125">KSL Review</option> -->
</select>
<button type="button" name="button" ng-click="sendMessage(send)">Send Review Link</button>
