<section class="signupSection animated fadeInDown">
  <h1 class="dashTitle">Login</h1>
<input ng-keyup="enter($event)"type="text" name="name" ng-model="user.email"placeholder="Email">
<input ng-keyup="enter($event)"type="text" name="name" ng-model="user.password"placeholder="Password">
<div class="buttons"style="margin-top: -1vw;">
  <button type="button" name="button" ng-click="submit()">Submit</button>
  <button type="button" name="button" ng-click="cancel()">Cancel</button>

</div>
<section>
