<input type="text" name="name" ng-model="first"placeholder="First Name">
<input type="text" name="name" ng-model="last"placeholder="Last Name">
<input type="text" name="name" ng-model="email"placeholder="Email">

<input type="text" ng-model="phone"name="name" placeholder="Phone Number...">
<select ng-model="locationId">
  <option ng-repeat="location in locations"value="{{location.id}}">{{location.address}}</option>
  </select>


<button type="button" name="button" ng-click="sendMessage({phone: phone, link: link}); submit({first: first, last: last, phone: phone, email: email})">Send Review Link</button>
