<h1 class="dashTitle">Settings</h1>
<div class="settingsInfoCard">
  <!-- <ul>
    <h2>User Info</h2>
    <li >Change Business Name</li>
    <li >Change Name</li>
    <li >Change Phone Number</li>
    <li >Change Email</li>
    <li >Change Password</li>
  </ul> -->

    <!-- <div class="settingsInfoCardItem"ui-sref="dashboard.payment">Payments</div> -->
    <div class="settingsInfoCardItem"ng-click="changePassword()">Change Password</div>
    <div ui-sref="contactUs" class="settingsInfoCardItem">Help</div>
    <div ui-sref="contactUs" class="settingsInfoCardItem">Contact Us</div>
    <!-- <li></li> -->
</div>
