<h1 class="dashTitle">Settings</h1>
<div class="changes">
  <!-- <ul>
    <h2>User Info</h2>
    <li >Change Business Name</li>
    <li >Change Name</li>
    <li >Change Phone Number</li>
    <li >Change Email</li>
    <li >Change Password</li>
  </ul> -->
  <ul>
    <h2>Message Notifications</h2>
    <li>Clicks<input type="checkbox" checked="true" name="gender" value="clicks"></li>
    <li>Negative Clicks<input type="checkbox" checked="true"name="gender" value="negativeClicks"></li>
    <li>Positive Clicks<input type="checkbox" checked="true" name="gender" value="positiveClicks"></li>
    <li>Negative Messages<input type="checkbox" checked="true" name="gender" value="negativeMessages"></li>
    <!-- <li >Clicks</li>
    <li >Negative Clicks</li>
    <li >Positive Clicks</li>
    <li >Negative Messages</li> -->
  </ul>
  <ul>
    <h2 >General</h2>
    <li ui-sref="dashboard.payment">Payments</li>
    <li ng-click="changePassword()">Change Password</li>
    <li >Help</li>
    <li >Contact Us</li>
    <!-- <li></li> -->
  </ul>
</div>
