
<nav class="loginNav">
  <img class="logo"src="../images/logo.png" alt="" />
  <!-- <div>In-sight Reviews</div> -->
  <ul>

    <li ui-sref="welcome">About</li>
    <li ui-sref="contactUs">Contact Us</li>
    <li ui-sref="signup">Sign Up</li>
    <li ui-sref="login">Login</li>

  </ul>
  <div ng-click="hamClick()"class="ham icon-bars"></div>

</nav>
<section class="signupSection">
  <h1 class="dashTitle">Sign Up</h1>
  <input ng-keyup="enter($event)"type="text" name="name" ng-model="user.business"placeholder="Business Name">
  <input ng-keyup="enter($event)"type="text" name="name" ng-model="user.first"placeholder="First Name">
  <input ng-keyup="enter($event)"type="text" name="name" ng-model="user.last"placeholder="Last Name">
  <input ng-keyup="enter($event)"type="tel" name="name" ng-model="user.phone"placeholder="Phone Number">
  <input ng-keyup="enter($event)"type="email" name="name" ng-model="user.email"placeholder="Email">
  <input ng-keyup="enter($event)"type="password" name="name" ng-model="user.password"placeholder="Password">
<div class="buttons"style="margin-top: -1vw;">
  <button type="button" name="button" ng-click="submit(user)">Submit</button>
  <button type="button" name="button" ng-click="cancel()">Cancel</button>

</div>
<p ng-click="showCode()"style="color: white; text-decoration: underline; font-size: 1.75vw;">Have a reference code?</p>
<input ng-if="theCode"type="text" placeholder="Code" ng-model="user.employeeCode">
</section>
