<h1 class="dashTitle">Dashboard</h1>

<section class="campaignSection">

    <div id="base">
        <h2>Links Sent</h2>
        <canvas class="chart chart-horizontal-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colors='colors'>
    </canvas>
</div>

        <div id="base">
            <h2>Links Clicked</h2>
            <canvas class="chart chart-horizontal-bar" chart-data="clickedData" chart-labels="labels" chart-options="clickedOptions" chart-colors='colors'>
          </canvas>
        </div>


        <div id="base">
            <h2>Positive Feedback</h2>
            <canvas class="chart chart-horizontal-bar" chart-data="positiveData" chart-labels="labels" chart-options="positiveOptions" chart-colors='colors'>
          </canvas>
        </div>

        <div id="base">
            <h2>Negative Feedback</h2>
            <canvas class="chart chart-horizontal-bar" chart-data="negativeData" chart-labels="labels" chart-options="negativeOptions" chart-colors='colors'>
        </canvas>
        </div>

<div id="doughnut">
    <h2>Percent of Links Sent</h2>
    <canvas class="chart chart-pie" chart-data="doughnutData" chart-labels="labels" chart-colors='colors' chart-options="pieOptions">
    </canvas>
</div>
<div id="doughnut">
    <h2>Percent of Links Clicked By Type</h2>
    <canvas class="chart chart-pie" chart-data="doughnutData2" chart-labels="labels" chart-colors='colors' chart-options="pieOptions2">
    </canvas>
</div>
</section>
