<h1 class="dashTitle">Dashboard</h1>
<div class="graphSection">
  <div google-chart chart="myChartObject" style="height:42vh; width:40vw;"></div>
  <div google-chart chart="myChartObject" style="height:42vh; width:40vw;"></div>

</div>
<div class="graphSection">
  <div google-chart chart="myChartObject" style="height:42vh; width:40vw;"></div>
  <div google-chart chart="myChartObject" style="height:42vh; width:40vw;"></div>

</div>
<div class="links">
  <h2>Links</h2>
  <div class="linkInfo">

  </div>
</div>
<section class="bottomSection">
  <div class="pieCharts">
    <div google-chart chart="pieChartObject" style="height:42vh; width:40vw;"></div>
    <div google-chart chart="pieChartObject" style="height:42vh; width:40vw;"></div>
    <div google-chart chart="pieChartObject" style="height:42vh; width:40vw;"></div>
  </div>
  <div class="dashReviews">
    <h2>Recent Reviews</h2>
  </div>
</section>
