<h1 class="dashTitle">Update Links</h1>
<!-- <div class="icon-plus-circle hvr-grow" ng-click='showAddSection()'></div>
<div class="addCampaignInputs"ng-if="addLocationSection">
  <input type="text" name="name" ng-model="link.name"placeholder="Name">
  <input type="text" name="name" ng-model="link.link"placeholder="Review Link">
  <br>
  <div class="">
    <button type="button" name="button" ng-click="submit(link)">Submit</button>
    <button type="button" name="button" ng-click="hideAddSection()">Cancel</button>

  </div>

</div>
<div class="campaignTitle"><div>Link Name</div><div></div><div>Review Link</div></div>

<ul class="campaignList" ng-repeat="link in links track by $index">
  <li class="campaignItem hvr-sweep-to-right"ng-click="showUpdate(link, $index)">
    <h2>{{link.name}}</h2><h2></h2><h2>{{link.reviewlink}}</h2>
  </li>
  <div ng-if="$index === selected">
    <div class="theUpdateInputs"ng-hide="updateInputs">
    <input type="text" name="name" ng-model="name">
    <input type="text" name="name" ng-model="myLink">
  </div>
  <button ng-hide="fakeButton"type="button" name="button" ng-click='fakeUpdate()'>Update</button>

    <button ng-hide="updateInputs"type="button" name="button" ng-click="updateLink({id: link.id, name: name, link: myLink})">Update</button>
    <button type="button" name="button" ng-click="deleteLink(link)">Delete</button>
    <button type="button" name="button" ng-click="cancel()">Cancel</button>
    <button type="button" name="button" ui-sref="dashboard.locations">Back to Locations</button>
  </div>

</ul> -->

<section class="campaignSection">
<div class="createNewCamp" ng-click='showAddSection()'>CREATE NEW REVIEW LINK</div>
<div ng-if="overlayShowing"class="overlay" ng-click='hideAddSection()'></div>
<div ng-if="overlayShowing"class="campaignCard addCard" >
    <h2 ng-if="!isAnEdit" class="createNewCampTitle">Create a new campaign</h2>
    <h2 ng-if="isAnEdit" class="createNewCampTitle">Edit campaign</h2>
    <div class="icon-times-circle" ng-click='hideAddSection()'></div>
    <span>Link Name</span>
  <input type="text" name="name" ng-model="link.name">
  <span>Review Link</span>
  <input type="text" name="name" ng-model="link.reviewlink">
<div class="addCardButtons">
  <button class="createCampButton"type="button" name="button" ng-click="submit(link)">SAVE NEW LINK</button>
</div>

</div>
<!-- <div class="campaignTitle"><div>Name</div><div>Image</div><div>Message</div></div>

<ul class="campaignList"ng-repeat="campaign in campaigns track by $index">
  <li class="campaignItem hvr-sweep-to-right" ng-class="campaign.status === 'active' ? 'theSelected': null"ng-click="showUpdate(campaign, $index)">
    <h2>{{campaign.name}}</h2> <div><img src="{{campaign.image}}" alt="NO IMAGE"></div>  <p>{{campaign.message}}</p>

  </li>
  <div ng-if="$index === selected">
    <div ng-hide="updateInputs">
      <input type="text" name="name" ng-model="name">
      <input type="text" name="name" ng-model="image">
      <input type="text" name="name" ng-model="message">
    </div>
              <button ng-hide="fakeButton"type="button" name="button" ng-click='fakeUpdate()'>Update</button>
    <button ng-hide="updateInputs"type="button" name="button" ng-click="updateCampaign({id: campaign.id, name: name, image: image, message: message, status: status})">Update</button>
    <button type="button" name="button" ng-click="deleteCampaign(campaign)">Delete</button>
    <button type="button" name="button" ng-click='updateCampaignStatus(campaign, $index)'>Select</button>
    <button type="button" name="button" ng-click="cancel()">Cancel</button>
  </div>



</ul> -->
<div ng-repeat="link in links track by $index">
    <div class="campaignCard">
        <div>
            <h2 class="campaignCardTitleSection"><span class="campaignCardTitle">{{link.name}}</span>
            </h2>
            <div class="campaignMessageSection">
                <b>Review Link:</b>
                <p>{{link.reviewlink}}</p>
            </div>
        </div>
        <div class="editAndDeleteCampaignSection">
            <span ng-click="deleteLink(link)">DELETE</span><span ng-click='showAddSection(link.name, link.reviewlink, link.id)'>EDIT</span>
        </div>
    </div>
    <!-- <div ng-if="$index === selected"> -->
      <!-- <div ng-hide="updateInputs">
        <input type="text" name="name" ng-model="name">
        <input type="text" name="name" ng-model="image">
        <input type="text" name="name" ng-model="message">
        <button type="button" name="button" ng-click="updateCampaign({id: campaign.id, name: name, image: image, message: message, status: status})">Submit</button>
        <button type="button" name="button" ng-click="cancel()">Cancel</button>
      </div> -->
                <!-- <input type="text" name="name" ng-model="status"> -->
                <!-- <button ng-hide="fakeButton"type="button" name="button" ng-click='fakeUpdate()'>Update</button>
      <button ng-hide="updateInputs"type="button" name="button" ng-click="updateCampaign({id: campaign.id, name: name, image: image, message: message, status: status})">Update</button>
      <button type="button" name="button" ng-click="deleteCampaign(campaign)">Delete</button>
      <button type="button" name="button" ng-click='updateCampaignStatus(campaign, $index)'>Select</button>
      <button type="button" name="button" ng-click="cancel()">Cancel</button> -->
    <!-- </div> -->
    <!-- <div ng-hide="updateInputs" class="campaignCard">
      <input type="text" name="name" ng-model="name">
      <input type="text" name="name" ng-model="image">
      <input type="text" name="name" ng-model="message">
      <button type="button" name="button" ng-click="updateCampaign({id: campaign.id, name: name, image: image, message: message, status: status})">Submit</button>
      <button type="button" name="button" ng-click="cancel()">Cancel</button>
    </div> -->
</div>


</section>
