<h1 class="dashTitle">User Information</h1>
<section class="userInfoSection">
  <div class="lines">
    <div>
      Business Name:<br class="showBreak">{{userInfo.businessname}}
    </div>
    <div>
      First Name:<br class="showBreak">{{userInfo.firstname}}
    </div>
  </div>
  <div class="lines">
    <div>
      Last Name:<br class="showBreak">{{userInfo.lastname}}
    </div>
    <div>
      Phone Number:<br class="showBreak">{{userInfo.phonenumber}}
    </div>
  </div>
    <div class="lines lastLine">
      <div>
        Email:<br>{{userInfo.email}}
      </div>
      <div>
        Password:<br>********
      </div>
    </div>

</section>
