<section class="entireWelcomeSection">
  <nav>
    <ul>
      <li>About</li>
      <li>Contact Us</li>
      <li ui-sref="signup">Sign Up</li>
      <li ui-sref="login">Login</li>
    </ul>
  </nav>

  <section class="welcomeSection">
    <!-- <img class="animated fadeInUp"src="http://www.tetrad.co.za/assets/img/green_cloud.jpg" alt="" /> -->
    <div class="title">
      <h1 class="animated fadeInLeft">In-Sight Reviews</h1><br>
      <h4 class="animated fadeInRight">Get your business more positive reviews more often</h4>

    </div>
    <img src="./images/fiveStar.png" alt="" />
    <h1>
    <div href="" class="typewrite" data-period="2000" data-type='[ "This is an AWESOME product!", "I love these guys!", "My business has doubled!", "Great customer service!" ]'>
      <span class="wrap"></span>
    </div>
  </h1>

  </section>
</section>
