<section ng-if='yesOrNoSectionShowing'class="yesOrNoSection">
  <h1 class="animated fadeInLeft">Would you recommend {{user.businessname}} to your friends or family?</h1>
  <a class="animated fadeInRight"ng-click="clickedYes()">YES</a>
  <div class="animated fadeInLeft" ng-click="clickedNo()">NO</div>
</section>
<section ng-if="noFromSectionShowing"class="noFormSection">
    <h1>We are sorry to hear that</h1>
    <h1>What could we have done better?</h1>
    <textarea type="text" name="name" ng-model='complaint'></textarea>
    <button type="button" name="button" ng-click='submit(complaint)'>Submit</button>
</section>
<section ng-if="thankYouSection"class="noFormSection">
  <h1>Thank You for your feedback!</h1>
</section>
