.searchInput {
  position: absolute;
  display: flex;
  width: 29vw;
  align-items: center;
  justify-content: space-between;
  margin-top: -4vw;

}
.icon-search {
  color: #03327F;
    font-size: 2vw;
}
.darkCover {
  height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .3;
    position: absolute;
    z-index: 9;
    margin-left: -18vw;
    margin-top: -5vw;
}
.popup {
  width: 50vw;
  height: 35vw;
  position: absolute;
  background-color: white;
  /*border: 1px solid black;*/
  border-radius: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
  margin-left: 7vw;
  /*box-shadow: 1vw 1vw 1.5vw #000;*/
}
.theX {
  position: absolute;
    margin: 1vw 23vw;
}
.icon-times-circle{
  font-size: 2vw;
}
.campaignTitle {
  font-size: 2vw;
  display: flex;
  background-color: #03327F;
  color: white;
  height: 4vw;
  align-items: center;
  width: 81vw;
  /*box-shadow: 1vw 1vw 1.5vw #000;*/

}
.icon-plus-circle {
  color: #03327F;
  font-size: 2vw;
  position: absolute;
  margin-top: -3.5vw;
  margin-left: 79vw;
}
.icon-plus-circle:hover {
  cursor: pointer;
}
.campaignTitle > * {
  width: 28vw;
  text-align: center;

  /*padding-left: 1vw;*/

}
.addCampaignInputs {
  text-align: center;
}
.campaignItem {
  /*box-shadow: 1vw 1vw 1.5vw #000;*/
  width: 81vw;
  height: 10vw;
  border: 1px solid black;
  /*margin-top: 1vw;
  margin-bottom: 2vw;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  overflow: hidden;
  margin-bottom: .5vw;
  margin-top: .5vw;
}
.theSelected {
  background-color: #FF9E01;
}
.campaignItem:hover {
  cursor: pointer;
}
.campaignItem > * {
  width: 28vw;
  margin: 1vw;
  text-align: center;
}
.campaignList > * {
  text-align: center;
}
.campaignItem h2 {
  font-size: 2vw;
}
.campaignItem p {
  font-size: 1.5vw;
}
.campaignItem img {
  width: 8vw;
}
