body {
  /*background: linear-gradient(white, #00a6e5);*/
  background: #fff;
  /*height: 100vh;*/
  /*background-image: url('../images/cool-blue.jpg');
  background-attachment: fixed;
  background-size: cover;*/
}
.icon-bars {
  z-index: 10;
}
input {
  font-size: 1.5vw;
  text-align: center;
  width: 26vw;
  outline-color: #FF9E01;
  border: 2px solid #110B47;
  border-radius: 5px;
}
select {
  font-size: 1.5vw;
  text-align: center;
  width: 26.5vw;
  outline-color: #FF9E01;
  /*box-shadow: 1vw 1vw 1.5vw #000;*/
  border: 2px solid #110B47;
  border-radius: 5px;
}

button {
  /*box-shadow: 1vw 1vw 1.5vw #000;*/
  font-size: 2.5vw;
  background-color: #00a6e5;
  color: white;
  border: none;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 10px;
  outline: none;
}
button:hover {
  cursor: pointer;
}
.dashboardMenu {
  height: 100vh;
  width: 17vw;
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  font-size: 2vw;
  background-color: #110B47;
  padding-right: 2vw;
  position: fixed;
  z-index: 2;
  margin-top: 4vw;
}
.dashboardMenu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vw;
  color: white;
}
.dashboardMenu li:hover {
  cursor: pointer;
  /*color: yellow;*/
}
.dashboardMenu div {
  color: white;
}

.dashboardTitle {
  width: 100%;
  padding-left: 2vw;
  font-size: 2.5vw;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00a6e5;
  padding-right: 2vw;
  color: white;
  position: fixed;
  z-index: 2;
}
.mainSection {
  display: flex;
}
.subSection {
  width: 83vw;
  margin-left: 17vw;
  margin-top: 4vw;
}
.dashTitle {
  font-size: 4vw;
  text-align: center;
  margin-bottom: 1vw;
  font-weight: bolder;
  /*color: white;*/
}

.links {
  width: 80.5vw;
  height: 10vw;
  /*border: 2px solid black;*/
  margin-top: 1vw;
  margin-left: .25vw;
  background-color: white;
}

.bottomSection {
  display: flex;
  justify-content: space-around;
  margin-top: 1vw;
}
.dashReviews {
  height:63vw;
  width:40vw;
  background-color: white;
  /*border: 2px solid black;*/
}
