.changes {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.changes ul {
  display: flex;
  flex-direction: column;
}
.changes h2 {
  font-size: 3vw;
}
.changes li {
  margin-top: 2vw;
  font-size: 2vw;
  padding-bottom: .5vw;
  display: flex;
  width: 27vw;
  justify-content: space-between;
}
.changes {
  margin-top: 10vw;
}
.changes li:hover {
  cursor: pointer;
}
.changes input {
  width:2vw;
}
