.changes {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.ng-invalid {
    color: red;
}
form {
  display: flex;
  flex-direction: column;
  /* width: 50vw; */
  align-items: center;
  height: 37vw;
  justify-content: space-around;
}
.paymentButtons {
  width:20vw;
  display: flex;
  justify-content: space-around;
}

.settingsInfoCard {
    width: 350px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(121, 121, 121, 0.3);
    margin-top: 20px;
    position: relative;
    padding: 20px;
}

.settingsInfoCardItem {
  margin-bottom: 30px;
  font-size: 16px;
}
.settingsInfoCardItem:hover {
  cursor: pointer;
}
