
#base {
  height: 300px !important;
  width: 500px !important;
  background-color: #110B47;
  border: 2px solid #110B47;
  border-radius: 15px;
  padding: 15px;
}

#doughnut {
  height: 300px !important;
  width: 300px !important;
  /*margin-left: 100px;*/
  /*margin-right: 100px;*/
  /*background-color: white;
  border-radius: 50%;*/

}
.stats {
  /*border: 2px solid black;*/
  height: 300px !important;
  width: 350px !important;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #110B47;
  color: white;
  border-radius: 15px;
  /*padding: 10px;*/
}
.stats img {
  width: 100px;
}
.stats p {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;

}

.graphSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vw;
  /*height: 75vh;*/
  align-items: center;
}
.doughnutSection {
  /*justify-content: center;*/
}
