
#base {
  height: 225px !important;
  width: 500px !important;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 0 13px 0 rgba(147, 147, 147, 0.3);
  margin-right: 20px;
  border-radius: 3px;
}

#doughnut {
  height: 250px !important;
  width: 250px !important;
  margin-right: 20px;
  /*margin-left: 100px;*/
  /*margin-right: 100px;*/
  /*background-color: white;
  border-radius: 50%;*/

}
.stats {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    border-radius: 3px;
    align-items: flex-start;
    margin-top: 30px;
    line-height: 1.5;
}
.stats img {
  width: 75px;
}
.stats p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graphSection {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  /*height: 75vh;*/
  align-items: center;
}

.doughnutSection {
  /*justify-content: center;*/
}
