.userInfoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vw;
}
.lines {
  display: flex;
}
.eachBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  border: 2px solid black;
  font-size: 2vw;
  height: 8vw;
  justify-content: center;
  margin: 1vw;
  /*box-shadow: 1vw 1vw 1.5vw #000;*/
  background-color: white;
  padding: 0vw 1vw 0vw 1vw;
}
.icon-pencil {
  cursor: pointer;

}

.eachBox input {
  font-size: 2vw;
  background-color: white;
  font-family: 'Nunito', cursive;
  border: 1px solid black;
}
.showBreak {
  display: none;
}
.pencil {
  font-size: 2vw;
    margin-left: 70vw;
    position: absolute;
    margin-top: -3.5vw;
}
.bottomButton {
  display: flex;
  justify-content: center;
  width: 100%;
}
