/*FF9E01 light orange
110B47 dark orange
110B47 dark blue
00a6e5 light blue*/

/*.easy {
    background-color: F4F4F4;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}*/

.mobileImg {
  display: none;
}
.theLogo {
  display: none;
}

.topP {
        font-size: 20px;
        line-height: 150%;
        z-index: 2;
        letter-spacing: 1px;
        /* margin-top: 0vw; */
}

.entireWelcomeSection {

  width: 100%;
  color: white;
}
#hamMenu {
  display: none;
}

.ham {
  display: none;
}
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    z-index: 12;
    font-family: 'Roboto';
    padding-left: 15px;
    padding-right: 25px;
    transition: background .15s linear;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 90vw;
}
nav li {
    margin-left: 25px;
        color: white;
        font-size: 18px;
        transition: color .15s linear;
}
nav li:hover {
  cursor: pointer;
}
.logo {
  width: 100px;
}
.logo:hover {
  cursor: pointer;
}
.topCover {
    height: 56.65vw;
    width: 100vw;
    position: absolute;
    z-index: 1;
    background-color: black;
    opacity: .25;
    color: #ffffff;
}
.titleAndExampleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    padding: 0 25px;

}
.welcomeSection {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('../images/bg-pattern.png'), linear-gradient(to right,#29292a 60%, #434446);
    position: relative;
    background-attachment: fixed;
    /*background-position: center;*/
    background-repeat: repeat;
    /*background-size: cover;*/

}
.welcomeImageContainer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.computerImage {
    width: 100%;
}
.examplePage {
    /*filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);*/
    width: 75%;
    height: 23vw;
    left: 12.5%;
    margin-top: -1%;
    z-index: 1;
    max-height: 258.75px;
}
.macImage {
    position: absolute;
}
.title {
    z-index: 3;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;

}
.title > * {
  margin-bottom: 15px;

}

.welcomeh1 {
  font-size: 40px;
  z-index: 1;
  margin-bottom: 20px;
  color: #343a40;
  line-height: 1.25;
}
orange {
  color: #f39c12;
}
.welcomeh4 {
  font-size: 3vw;
}
.welcomeSection img {
 /*width: 25vw;
 margin-top: 2.5vw;*/
 position: absolute;
}
.typewrite {
  color: white;
  margin-top: 2.5vw;
  /*text-shadow:
   -.5px -.5px 0 #000,
    .5px -.5px 0 #000,
    -.5px .5px 0 #000,
     .5px .5px 0 #000;*/
}
.animationImage {
  width: 12.5vw;
}
.imagePair {
  display: flex;
  width: 100%;
  align-items: center;
  height: 20vw;
  line-height: 250%;
}
.imagePair img{
  width: 17.5vw;
  margin: 2vw;
}
.imagePair p {
  font-size: 2.25vw;
}
.reasons {
  display: flex;
width: 100%;
font-size: 2.5vw;
height: 3vw;
justify-content: space-between;
padding: 0vw 26vw;
align-items: center;
}
.reasons > * {
  margin: 1vw;
}
.reasons p {
  font-size: 2vw;
}
.cover {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    padding: 30px;
    z-index: 5;

}
.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    color: #f3f3f3;
    padding-top: 80px;
    background-image: url('http://www.titanui.com/wp-content/uploads/2014/01/27/Grey-Checker-Pattern-Background-Vector.jpg');
}
.aboutSection h1 {
    color: #ffffff;
}
.mainCover {
    background: #000000;
        opacity: 0.5;
        width: 100vw;
        position: absolute;
        height: 164vw;
        left: 0;
        top: 55.5vw;
        display: none;
}
.thinLine {
    height: 1px;
        width: 80%;
        background-color: #ffffff;
        margin-top: 30px;
        margin-bottom: 30px;
        opacity: .25;
}
.statBox {
    height: 300px;
    width: 250px;
    font-size: 20px;
    word-break: break-word;
    display: flex;
    text-align: left;
    line-height: 150%;
    flex-direction: column;
    margin: 10px;
    padding: 25px;
    border: 1px solid lightgrey;
    color: #fff;
}

.pairing {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.pairing img {
    width: 200px;
    height: 150px;
    margin-top: 7px;
}
.statBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.statistics {
    background-image: url('http://www.titanui.com/wp-content/uploads/2014/01/27/Grey-Checker-Pattern-Background-Vector.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    text-align: center;
}
.welcomeSectionBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 30px;
  /*background-image: url('https://blog.kissmetrics.com/wp-content/uploads/2015/01/2015-google-analytics-resources.jpg');
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: #282828;
  background-attachment: fixed;
  font-size: 12px;
}
.welcomeSectionBar img {
  width: 15vw;
}
.welcomeSectionBar h1 {
  font-size: 3vw;
}
.welcomeSectionBar h6 {
  font-size: 1.5vw;
  font-style: italic;
}

.welcomeSectionBottom {
  height: 49vw;
  width: 100vw;
  /*background-image: url('../images/phone2-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background: black;
}
footer {
  height: 49vw;
  width: 100vw;
  /*background-image: url('../images/computer-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background: black;
}
.allFooterInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-size: 12px;
}
.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.footerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.firstSection {
    padding: 30px 0;
    text-align: center;
    color: #343a40;
}
.firstSection button {
    border: 1px solid #343a40;
    color: #343a40;
    margin-top: 30px;
}
.firstSection p {
    font-size: 30px;
}
/*.secondSection {
    background-image: url('../images/imp.jpg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -1vw;
}
.thirdSection {
    background-image: url('https://blog.mint.com/wp-content/uploads/2013/02/How-to-Turn-Your-Tech-Savvy-Skills-Into-Income.jpg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -1vw;
}
.fourthSection {
    background-image: url('../images/imp.jpg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -1vw;
}*/
.welcomePageButton {
    font-size: 20px;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 50px;
    font-weight: 100;
    padding: 10px 30px;
}
.counterAndPercent {
    display: flex;
justify-content: center;
align-items: center;
color: #f39c12;
font-size: 50px;
margin-bottom: 30px;
margin-top: 15px;
}
.titleCampaignItem {
    display: flex;
    align-items: center;
    max-width: 900px;
    border-bottom: solid 1px #ebebeb;
margin-bottom: 10px;
padding-bottom: 10px;
}
